.about-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top left, #4ab4f1, #84f3ae);
  background-repeat: cover;
  height: 100vh;
  color: white;
  font-family: 'Roboto', sans-serif;
  margin-top: 45px;
}

.team { 
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 75vh;
  margin: 15px;
  justify-content: space-between;
  align-items: center;


}

.team > img {
  border-radius: 50%;
  width: 200px;
  border: 5px solid rgb(44, 39, 78);
  margin-top: 15px;
  margin-bottom: 14px;
}

.about-links {
  margin-top: 9px;
}

.team > p {
  flex-grow: 1;
  padding: 0 19px;
}

.about-git {
  background-color: transparent;
  width: 40px;
  border-radius: 50%;
}

.team > h1 {
  height: 30px;
  margin: 10px;
  font-weight: bold;
  font-size: 21px;
  letter-spacing: 1.2px;
}