.users-show{
    margin-top: 45px;
}

.users-show-name{
    width: 100%;
    text-align: center;
}

.users-show-post-container{
    width: 50vw;
    margin: auto;
}

.user-info-container{
    width: 40vw;    
    border-right: 5px solid rgb(69,175,181);
}

.follow-btn{
    width: 50px;
    margin-top: 100px;
}

.user-info-flex{
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    justify-content: center;
    width: inherit;
}