.users-show{
    margin-top: 45px;
}

.users-show-name{
    width: inherit;
    text-align: center;
    padding: 50px 0px;
    font-size: 36px;
}

.users-show-post-container{
    width: 50vw;
    margin: auto;
}

.user-info-container{
    width: 40vw;    
    border-right: 5px solid rgb(69,175,181);
}

.follow-btn{
    border: none;
    padding: 15px;
    background-color: rgb(69, 175, 181);
    color: white;
    cursor: pointer;
}

.follow-btn:focus{
    outline: none;
}

.user-info-flex{
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    justify-content: center;
    width: inherit;
}

.user-info-switch{
    width: 80%;
    border-top: 2px solid rgb(69,175,181);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.follower-count{
    padding-left: 20px;
}