.users-show{
    margin-top: 45px;
}

.users-show-name{
    position: fixed;
}

.users-show-post-container{
    width: 50vw;
    margin: auto;
}

.user-info-container{
    width: 40vw;    
    box-sizing: border-box;
    border-right: 5px solid rgb(69,175,181);
    box-sizing: border-box;
}

.follow-btn{
    width: 200px;
    margin-top: 100px;
}