.splash-main {
    top: 55px;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 100px;
    font-weight: 700;
    height: 100%;
  }
  
  .main-pic {
    position: relative;
    height: 100%;
    width: 100%;
  }
  
  .splash-title, .splash-page-intro {
    position: absolute;
    /* z-index: 4; */
    top: 10%;
    text-shadow: 0px 0px 11px rgb(255, 255, 255);
  }
  
  .splash-page-intro{
    font-size: 35px;
    top: 25%
  }