#modal-picture{
   max-height: 100px;
   max-width: 100px;
   border-radius: 30px;
}

.modal-picture-container{
    max-width: 100px;
    max-height: 100px;
}

.post-preview{
    padding: 10px 0px;
    display: flex;
    width: 175px;
}

.post-preview-text{
    font-weight: 700;
    padding: 5px;
    width: 50px;
    text-align: center;
}

.see-posts{
    text-decoration: underline;
    cursor: pointer;
}